@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    This program was built by <i>Mr. Chris</i> as a simple Hotel Management System. <br />
    It was developed using C# with Entity framework code-first approach.
    This could be expanded by adding extra features like payment options and report printing.
    I have already expanded this to include payment, star based reviews and report printing.
    Contact me if need be.
    This particular source code is free, remember to subscribe to my youtube channel for updates and other free
    tutorials and their source codes. Checkout the about page for my contact details.
</p>
