@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Lagos NGR<br />
    <abbr title="Phone">Phone:</abbr>
    +234.816.027.4007
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ngcodes1@gmail.com">ngcodes1@gmail.com</a><br />
    <strong>Fiverr.com:</strong> <a href="https://www.fiverr.com/loveth01">Fiverr</a><br />
    <strong>YouTube:</strong> <a href="https://www.youtube.com/channel/UCaUUBHLa2zEOiJVj7_-hnmQ">YouTube</a>
</address>